---
const { class: className, ...props } = Astro.props;
---

<div {...props} class:list={[className, 'glass']}>
  <slot />
</div>
<style>
  div {
    @apply container flex flex-col justify-around gap-2 p-2 shadow max-sm:max-w-[calc(100%-10px)] sm:p-5;
  }
</style>
