---
const { class: className, ...props } = Astro.props;
---

<div {...props} class:list={[className, 'glass']}>
  <slot />
</div>
<style>
  div {
    @apply container flex flex-col gap-2 border border-primary-light/50 p-2 dark:border-primary-dark/50 max-sm:max-w-[calc(100%-10px)] sm:gap-8 sm:p-5;
  }
</style>
