---
import { getAllPosts } from '@assets/ts/utils';
import Card from './Card.astro';
import CardHeader from './CardHeader.astro';
import PostItem from './PostItem.astro';
import { config } from '@assets/ts/consts';

const posts = await getAllPosts();
---

<Card class='sm:col-span-2'>
  <CardHeader title='最近文章'>
    <span>
      <a href='/archives' class=''>查看全部</a>
    </span>
  </CardHeader>
  <div class='grid grid-flow-row gap-2 divide-y divide-gray-500/30'>
    {posts.slice(0, config.sliceNum).map((item) => <PostItem post={item} />)}
  </div>
</Card>
