---
const { href, isActive = false, ...props } = Astro.props;
---

<li class='pagination-link'>
  <a href={href} class:list={[{ active: isActive }]} {...props}>
    <slot />
  </a>
</li>

<style>
  .pagination-link a {
    @apply flex items-center justify-center p-1 transition-all duration-300 transform;
  }
  .pagination-link a.active {
    @apply pointer-events-none text-primary-light dark:text-primary-dark;
  }
  .pagination-link a[href='#'] {
    @apply pointer-events-none;
  }
</style>
