---
const html = await Astro.slots.render('default');

function cleanHTML(htmlString): string {
  const regex = /<[^>]+>/g;
  return htmlString.replace(regex, '');
}
---

<p class='text-sm max-sm:hidden py-3 dark:text-gray-300 text-gray-700'>
  {`${cleanHTML(html).substring(0, 50)}...`}
</p>
