---
import { config } from '@assets/ts/consts';
---

<search>
  <span>
    <svg class='size-5' viewBox='0 0 24 24' fill='none'>
      <path
        d='M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z'
        stroke='currentColor'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'>
      </path>
    </svg>
  </span>
  <input
    type='text'
    id='search-input'
    data-json={config.simple_search.json}
    placeholder={config.simple_search.placeholder}
  />
  <ul id='results-container' class='divide-y bg-site-light dark:bg-site-dark'>
    <!-- 这里插入搜索结果列表项 -->
  </ul>
</search>

<script>
  import { SimpleSearch } from '@assets/ts/utils';
  // 初始化搜索功能
  document.addEventListener('astro:page-load', function () {
    SimpleSearch({
      searchInput: document.getElementById('search-input'),
      resultsContainer: document.getElementById('results-container'),
      json: `${document.getElementById('search-input')?.dataset.json}` // 你的博客文章数据
    }).init();
  });
</script>

<style>
  search {
    @apply relative flex h-full w-full justify-center max-sm:px-5;
  }
  span {
    @apply absolute inset-y-0 left-0 flex items-center max-sm:left-5;
  }
  input {
    @apply my-1 h-12 w-full flex-auto border-b-2 border-transparent bg-inherit pl-10 text-inherit focus:border-b-primary-light focus:outline-none max-sm:pl-8;
  }
  ul {
    @apply absolute inset-x-0 top-full flex max-h-72 flex-col overflow-y-auto shadow;
  }
</style>
