---
interface Props {
  title?: String;
}
const { title } = Astro.props;
---

<section class='flex flex-col w-full justify-start items-start p-1 mb-5 glass'>
  {
    title && (
      <div class='border-primary-light dark:border-primary-dark border-l-4 px-2 font-bold text-3xl'>
        {title}
      </div>
    )
  }
  <div class='mx-auto w-full md:max-w-screen-sm lg:max-w-[992px] my-2'>
    <slot />
  </div>
</section>
