---
import PostItem from "@components/PostItem.astro";
import TagCloud from "@components/TagCloud.astro";
import { getCollection } from "astro:content";

import DefaultLayout from "src/layouts/DefaultLayout.astro";


---

<DefaultLayout title="Index-Blog">
  <section>

    Index

  </section>
</DefaultLayout>
