---
import SlicePostList from "@components/SlicePostList.astro";
import TagCloud from "@components/TagCloud.astro";

import DefaultLayout from "src/layouts/DefaultLayout.astro";
---

<DefaultLayout title="Index-Blog">
  <SlicePostList sliceNum={3} />
  <a href="/archives" type="button rounded-full p-3">View all</a>
  <TagCloud slot="siderbar" />
</DefaultLayout>
