---
import PostItem from "@components/PostItem.astro";
import SlicePostList from "@components/SlicePostList.astro";
import TagCloud from "@components/TagCloud.astro";
import { getCollection } from "astro:content";

import DefaultLayout from "src/layouts/DefaultLayout.astro";


---

<DefaultLayout title="Index-Blog">
  <section>
    <a href="/archives" type="button rounded-full p-3">View all</a>
    <SlicePostList sliceNum={6} slot="siderbar"/>
  </section>
</DefaultLayout>
