---
import Card from "@components/Card.astro";
import SlicePostList from "@components/SlicePostList.astro";

import DefaultLayout from "src/layouts/DefaultLayout.astro";
---

<DefaultLayout title="Index-Blog">
  <section class="flex flex-col items-center">
    <SlicePostList sliceNum={3} slot="siderbar" />
    <a href="/archives" type="button rounded-full p-3">View all</a>
  </section>
  <Card slot="siderbar"/>
</DefaultLayout>
