---
import { valineConfig } from '@assets/ts/consts';
import SectionItem from '../star/SectionItem.astro';
---

<SectionItem title='欢迎留言'>
  <div id='valine' class='flex-auto'></div>
</SectionItem>

<script is:inline data-astro-rerun define:vars={{ valineConfig }}>
  document.addEventListener(
    'astro:page-load',
    () => {
      // 创建并加载Valine的CDN脚本
      const valineScript = document.createElement('script');
      valineScript.src = valine.src;
      valineScript.async = true;
      valineScript.crossOrigin = 'anonymous';
      valineScript.onload = function () {
        new Valine({
          appId: valine.appId,
          appKey: valine.appKey,
          avatar: valine.avatar,
          placeholder: valine.placeholder,
          highlight: valine.highlight,
          avatarForce: valine.avatarForce,
          visitor: valine.visitor,
          recordIP: valine.recordIP,
          el: '#valine'
        });
        console.info('valine load');
      };
      document.head.appendChild(valineScript);
    },
    { once: true }
  );
</script>
