---
import PostItem from "@components/PostItem.astro";
import { getCollection } from "astro:content";
import DefaultLayout from "src/layouts/DefaultLayout.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<DefaultLayout title=`Tags-${tag}`>
  <p>Posts tagged with {tag} total:{posts.length}</p>
  <ul>
    {posts.map((post) => <PostItem post={post} />)}
  </ul>
</DefaultLayout>
