---
import DefaultLayout from "@layouts/DefaultLayout.astro";
---

<DefaultLayout title="404" headerText="404">
    <div class="min-h-screen flex flex-col justify-center items-center space-y-5">
        <span class="font-bold text-3xl"> 404 找不到页面</span>
        <span class="font-bold"><a href="/" class="active">返回主页</a></span>
    </div>
  </DefaultLayout>