---
import SlicePostList from "@components/SliceList.astro";
import State from "@components/State.astro";
import TagCloud from "@components/TagCloud.astro";

import DefaultLayout from "src/layouts/DefaultLayout.astro";
---

<DefaultLayout title="欢迎访问我的主页">
  <div class="min-h-screen flex flex-col justify-start items-center space-y-5">
    <TagCloud />
    <State/>
    <SlicePostList sliceNum={3} title="最近文章"/>
  </div>
</DefaultLayout>
