---
import Card from '@components/star/Card.astro';
import ChartState from '@components/external/ChartState.astro';
import GaodeInfo from '@components/external/GaodeInfo.astro';
import TimeInfo from '@components/external/TimeInfo.astro';
import DefaultLayout from '@layouts/DefaultLayout.astro';
import CardHeader from '@components/star/CardHeader.astro';
import LatestPosts from '@components/star/LatestPosts.astro';
import Toolbox from '@components/external/Toolbox.astro';
---

<DefaultLayout title='主页' headerText='欢迎访问我的主页'>
  <div class='grid grid-cols-1 gap-2 sm:grid-cols-3'>
    <LatestPosts />
    <div class='grid grid-cols-1 gap-2'>
      <TimeInfo />
      <!-- <GaodeInfo /> -->
      <Toolbox />
    </div>
    <Card class='col-span-full'>
      <CardHeader title='统计' />
      <ChartState />
    </Card>
  </div>
</DefaultLayout>
