---
import Prose from '@components/star/Prose.astro';
import SectionItem from '@components/star/SectionItem.astro';
import DefaultLayout from '@layouts/DefaultLayout.astro';
// 导入单个文件
import { Content as Privacy } from 'Privacy.md';
---

<DefaultLayout title='隐私协议' headerText=''>
  <div class='min-h-screen flex flex-col justify-start items-center space-y-5'>
    <SectionItem title='Privacy'>
      <Prose>
        <Privacy />
      </Prose>
    </SectionItem>
  </div>
</DefaultLayout>
