---
import { type CollectionEntry } from "astro:content";
import PostItem from "./PostItem.astro";
import ArchiveItem from "./ArchiveItem.astro";

type Props = {
  page: {
    data: CollectionEntry<"blog">[];
    url: {
      prev: string;
      next: string;
    };
    currentPage: number;
    lastPage: number;
  };
};

const { page } = Astro.props;
const posts = page.data;
posts.sort((a, b) => {
  return b.data.pubDate.getTime() - a.data.pubDate.getTime();
});

// group by year
const postsByYear: Map<number, CollectionEntry<"blog">[]> = new Map();
posts.forEach((post) => {
  const year = post.data.pubDate.getFullYear();
  if (postsByYear.has(year)) {
    postsByYear.get(year)!.push(post);
  } else {
    postsByYear.set(year, [post]);
  }
});
---

{
  [...postsByYear.entries()].map(([year, posts]) => {
    return (
      <section class="flex flex-col justify-start items-start w-full border-l-4 border-gray-500 ">
        <div class="p-2 my-2 border-b-4 border-gray-500 transition-all ease-in">
          <span class="text-2xl font-bold ">{year}</span>
          
        </div>
        <div class="px-5 w-full my-2">
         <span class="mx-2">Total:{posts.length}</span>
          <ul class="p-10">
            {posts.map((post) => {
              return <ArchiveItem post={post} />;
            })}
          </ul>
        </div>
      </section>
    );
  })
}

<style>
  .timeline {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
  }

  .timeline-panel {
    position: relative;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    border-radius: 4px;
  }

  .timeline-heading {
    margin-bottom: 15px;
  }

  .timeline-title {
    margin-top: 0;
    color: #333;
    font-size: 16px;
  }

  .timeline-body {
    margin-top: 0;
    color: #666;
    font-size: 14px;
  }
</style>
