---

---

<div>
  <slot />
</div>
<style>
  div {
    @apply bg-primary-light/70 dark:bg-primary-dark/70
    backdrop-blur backdrop-saturate-200 
    flex flex-col flex-auto m-2 border border-primary-light/50 rounded-md max-sm:max-w-[300px];
  }
</style>
