---
import { config } from "@config";
import Togglebar from "@components/Togglebar.astro";
import ValineComm from "./ValineComm.astro";
const { title } = Astro.props;
const { pathname } = Astro.url;
const year = new Date().getFullYear();
const author = config.author;
---

<footer
  class="flex flex-col justify-center items-center text-inherit w-[inherit] my-10"
>
  <small>
    {author} &copy; {year}
    <a href="https://github.com/XtrueT" class="">view on Github</a>
  </small>
  <Togglebar />
</footer>
