---
import SectionItem from "./SectionItem.astro";
---

<SectionItem><div id='gitalk-container'></div></SectionItem>

<script>
  import "gitalk/dist/gitalk.css";
  import Gitalk from "gitalk";
  import { gitalkConfig } from "@config";
  document.addEventListener("astro:page-load", () => {
    const gitalk = new Gitalk({ ...gitalkConfig, id: decodeURIComponent(window.location.pathname).substring(0,49) });
    gitalk.render("gitalk-container"); // 渲染Gitalk评论组件
  });
</script>
