---
import { config } from "@config";
import Navbar from "./Navbar.astro";

---

<header
  id="header"
  class="flex flex-col justify-between bg-inherit text-inherit w-full z-[1] relative "
>

  <div 
    class="relative bg-cover h-48"
    style=`background-image: url(${config.header});`
  >
    <div 
      class="absolute top-0 right-0 w-full h-[inherit] opacity-50
					text-gray-50 bg-gray-950"
    >
    </div>
  </div>
 <Navbar />
</header>
