---
import Waves from "@components/Waves.astro";
const { src, text } = Astro.props;
---

<div class='hero grid grid-rows-1 grid-cols-1 relative'>
  <div class='hero-area grid items-center overflow-hidden relative'>
    {
      src ? (
        <div
          class='w-screen md:h-[60vh] h-[25vh] bg-cover bg-no-repeat bg-[65%]'
          style={`background-image: url(${src});`}
        />
      ) : (
        <div class='w-full'>
          <Waves />
        </div>
      )
    }
  </div>
  <div class='hero-area grid z-[1] items-center relative w-full h-full'>
    <div class='m-auto p-5'>
      <div class='text-3xl font-bold'>{text}</div>
      <div class='text-xl mt-4'>
        <slot />
      </div>
    </div>
  </div>
</div>

<style>
  .hero {
    grid-template-areas: "overflow";
  }
  .hero-area {
    grid-area: overflow;
  }
</style>
