---
import { Image } from "astro:assets";

const { src, alt, text } = Astro.props;
---

<div class="hero grid grid-rows-1 grid-cols-1 relative">
  <div class="hero-area grid items-center overflow-hidden relative ">
      <Image
        src={src}
        alt={alt}
        loading="lazy"
        class="w-full h-[40vh] object-cover max-sm:object-[65%]"
        width="1920"
        height="380"
      />
  </div>
  <div class="hero-area grid z-[1] items-center relative bg-black/50">
    <div class="m-auto p-5">
      <div class="text-3xl font-bold text-white">{text}</div>
      <div class="text-xl text-white mt-4">
        <slot />
      </div>
    </div>
  </div>
</div>

<style>
  .hero {
    grid-template-areas: "overflow";
  }
  .hero-area {
    grid-area: overflow;
  }
</style>
