---
interface Props {
  title?: String;
}
const { title } = Astro.props;
---

<section class="flex flex-col w-full justify-start items-start p-5">
  {
    title && (
      <div class="border-purple-500 border-l-4 font-bold text-3xl">{title}</div>
    )
  }
  <div class="mx-auto w-full md:max-w-screen-sm lg:max-w-screen-md">
    <slot />
  </div>
</section>
