---
import { getCollection } from "astro:content";
import PostItem from "./PostItem.astro";
import { config } from "@config";
import SectionItem from "./SectionItem.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
interface Props {
  sliceNum?: number;
}

const { sliceNum = config.sliceNum } = Astro.props;
---

<SectionItem title="最近文章">
  <ul class="flex flex-col divide-y space-y-5">
    {posts.slice(0, sliceNum).map((post) => <PostItem post={post} />)}
  </ul>
  <div class="flex justify-center items-center">
    <a href="/archives" class="inline-block">查看全部</a>
  </div>
</SectionItem>
