---
import { getCollection } from "astro:content";
import PostItem from "./PostItem.astro";
import { config } from "@config";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
interface Props {
  sliceNum?: number;
}

const { sliceNum = config.sliceNum } = Astro.props;
---

<section class="w-full">
  <ul class="flex flex-col">
    {posts.slice(0, sliceNum).map((post) => <PostItem post={post} />)}
  </ul>
</section>
