---
import ActiveLink from "./ActiveLink.astro";
import SectionItem from "./SectionItem.astro";
import { getAllPosts, getTagPosts } from "@assets/ts/utils";

const allBlogPosts = await getAllPosts();
const data = getTagPosts(allBlogPosts);
---

<SectionItem title='标签'>
  <div class='table-cell p-5'>
    {
      data.map(({ tag, tagPosts }) => (
        <ActiveLink href={`/tags/${tag}`}>
          <span class='tag'>
            #{tag}
            <sup class='text-primary text-base px-1'>{[...tagPosts].length}</sup>
          </span>
        </ActiveLink>
      ))
    }
  </div>
</SectionItem>
