---
import TocLink from "./TocLink.astro";

interface Props {
  headings: {
    depth: number;
    slug: string;
    text: string;
  }[];
  title: string;
}

const { headings, title } = Astro.props;

const generateToc = (headings: any[]) => {
  const toc: any[] = [];
  const parentHeadings = new Map();
  let minDepth = Number.MAX_SAFE_INTEGER;
  for (const heading of headings) {
    if (heading.depth < minDepth) {
      minDepth = heading.depth;
    }
  }
  for (const heading of headings) {
    const sub: any[] = [];
    const { depth } = heading;
    const currentHeading = { ...heading, sub };
    parentHeadings.set(depth, currentHeading);
    if (depth === minDepth || depth === 2) {
      toc.push(currentHeading);
    } else {
      const parentHeading = parentHeadings.get(depth - 1);
      parentHeading
        ? parentHeading.sub.push(currentHeading)
        : toc.push(currentHeading);
    }
  }
  // console.log(toc);
  return toc;
};
---

<section id="tocbar" class="w-full sticky acrylic">

  {
    headings.length > 0 && (
      <nav class="p-4  w-full">
        <h1 id="tocTitle" class="py-2">
          {title}-目录
        </h1>
        <ul id="tocList" class="max-h-[50vh] h-full overflow-y-auto">
          {generateToc(headings).map((heading) => (
            <TocLink heading={heading} />
          ))}
        </ul>
      </nav>
    )
  }


</section>

<script>
  // JavaScript 逻辑
  function scrollToAnchor(link) {
    const href = link.getAttribute("href");
    const targetElement = document.getElementById(href.substring(1));
    if (targetElement) {
      targetElement.scrollIntoView({
        behavior: "smooth",
        block: "center",
        inline: "nearest",
      });
    }
  }

  function setupTocLinkObserver() {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          const link = document.querySelector(
            `.toc-link[href="#${entry.target.id}"]`
          );
          if (link) {
            link.classList.toggle("active", entry.isIntersecting);
            // if (link.classList.contains("active")) {
            //   link.scrollIntoView({});
            // }
          }
        });
      },
      {
        root: null, // 相对于视口观察
        rootMargin: "-5% 0px -5% 0px",
        threshold: 0.1, // 元素与视口交叉的阈值
      }
    );

    // 为每个锚点设置观察器
    document.querySelectorAll(".toc-link").forEach((link) => {
      const href = link.getAttribute("href") || "";
      const targetElement = document.getElementById(href.substring(1));
      if (targetElement) {
        observer.observe(targetElement);
      }
    });
  }

  document.addEventListener("astro:page-load", function () {
    setupTocLinkObserver();
    document.querySelectorAll(".toc-link").forEach((link) =>
      link.addEventListener("click", (event) => {
        event.preventDefault(); // 阻止默认的点击行为，避免直接跳转到锚点
        scrollToAnchor(link);
      })
    );
  });
</script>
<style>
  .fixed-toc {
    @apply sticky top-[20%] right-[15%] max-w-lg;
  }
</style>
