---
import TocLink from "./TocLink.astro";

interface Props {
  headings: {
    depth: number;
    slug: string;
    text: string;
  }[];
}

const { headings } = Astro.props;

const generateToc = (headings: any[]) => {
  const toc: any[] = [];
  const parentHeadings = new Map();
  let minDepth = Number.MAX_SAFE_INTEGER;
  for (const heading of headings) {
    if (heading.depth < minDepth) {
      minDepth = heading.depth;
    }
  }
  for (const heading of headings) {
    const sub: any[] = [];
    const { depth } = heading;
    const currentHeading = { ...heading, sub };
    parentHeadings.set(depth, currentHeading);
    if (depth === minDepth) {
      toc.push(currentHeading);
    } else {
      const parentHeading = parentHeadings.get(depth - 1);
      parentHeading
        ? parentHeading.sub.push(currentHeading)
        : toc.push(currentHeading);
    }
  }
  // console.log(toc);
  return toc;
};
---

{
  headings.length > 0 && (
    <nav class="toc bg-white p-4 rounded-lg shadow-lg w-64 lg:w-1/4">
      <ul id="tocList">
        {generateToc(headings).map((heading) => (
          <TocLink heading={heading} />
        ))}
      </ul>
    </nav>
  )
}

<script>
  // JavaScript 逻辑
  function scrollToAnchor(link) {
    const href = link.getAttribute("href");
    const targetElement = document.getElementById(href.substring(1));
    if (targetElement) {
      targetElement.scrollIntoView({
        behavior: "smooth",
        block: "center",
        inline: "nearest",
      });
    }
  }

  function setupIntersectionObserver() {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          const link = document.querySelector(
            `.toc-link[href="#${entry.target.id}"]`
          );
          if (link) {
            link?.classList.toggle("active",entry.isIntersecting);
          }
        });
      },
      { rootMargin: "-5% 0px -5% 0px" }
    );


    // link.scrollIntoView({
    //             behavior: "smooth",
    //             block: "center",
    //             inline: "nearest",
    //           });

    // 为每个锚点设置观察器
    document.querySelectorAll(".toc-link").forEach((link) => {
      const href = link.getAttribute("href") || "";
      const targetElement = document.getElementById(href.substring(1));
      if (targetElement) {
        observer.observe(targetElement);
      }
    });
  }

  document.addEventListener("astro:page-load", function () {
    setupIntersectionObserver();
    document.querySelectorAll(".toc-link").forEach((link) =>
      link.addEventListener("click", (event) => {
        event.preventDefault(); // 阻止默认的点击行为，避免直接跳转到锚点
        scrollToAnchor(link);
      })
    );
  });
</script>
<style>
  .toc {
    @apply w-72 h-52 overflow-y-auto;
  }
</style>
