---
import ToggleBtn from "./ToggleBtn.astro";
---

<div
  class='hidden fixed bottom-5 right-5 z-50'
  id='backtop-toggle'>
  <ToggleBtn text='返回顶部'>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='24'
      height='24'
      viewBox='0 0 48 48'
      ><g
        fill='none'
        class='stroke-current'
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='4'
        ><path d='M24.0083 14.1006V42.0001'></path><path d='M12 26L24 14L36 26'></path><path d='M12 6H36'></path></g
      ></svg
    >
  </ToggleBtn>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const backtopToggle = document.getElementById("backtop-toggle");
    const nav =document.getElementById('navbar')
    // 初始化变量
    let lastScrollTop = 0;
    const scrollThreshold = 100; // 设定向下滚动的距离阈值
    // 监听滚动事件
    window.addEventListener("scroll", function () {
      // 检测用户是否向下滚动超过阈值
      const st = document.documentElement.scrollTop;
      // 检测向上滚动
      if (st < lastScrollTop && st > scrollThreshold) {
        backtopToggle?.classList.remove("hidden");
        nav?.classList.add('fixed','theme');
      } else {
        backtopToggle?.classList.add("hidden");
        nav?.classList.remove('fixed','theme');
      }
      lastScrollTop = st;
    });

    // 返回顶部按钮点击事件
    backtopToggle?.addEventListener("click", () => {
      // 平滑滚动到顶部
      window.scrollTo({
        top: 0,
        left: 0,
        behavior: "smooth",
      });
    });
  });
</script>
