---
const { valine } = Astro.props;
---

<section
  id="comment"
  class="my-5 w-full flex justify-center items-center mt-2 p-2 acrylic"
>
  <div id="valine" class="flex-grow" data-config={JSON.stringify(valine)}></div>
</section>

<script is:inline src={valine.src}></script>
<script is:inline>
  // Use import
  //   import Valine from "valine";
  document.addEventListener(
    "astro:page-load",
    function () {
      const dataset = document.getElementById("valine")?.dataset;
      const valine = dataset?.config ? JSON.parse(dataset.config) : "";
      new Valine({
        appId: valine.appId,
        appKey: valine.appKey,
        avatar: valine.avatar,
        placeholder: valine.placeholder,
        highlight: valine.highlight,
        avatarForce: valine.avatarForce,
        visitor: valine.visitor,
        recordIP: valine.recordIP,
        el: "#valine",
      });
    },
    { once: true }
  );
</script>
