---
import Footer from "@components/Footer.astro";
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import SlicePostList from "@components/SlicePostList.astro";
import TagCloud from "@components/TagCloud.astro";
import { config } from "@config";
type Props = {
  title?: string;
  description?: string;
};
const { title = config.title, description = config.description } = Astro.props;
---

<!doctype html>
<html
  lang="zh-cn"
  class="flex flex-col justify-center items-center m-0 p-0 font-mono scroll-smooth"
>
  <head>
    <Head title={title} description={description} />
  </head>

  <body
    style=`background-image: url(${config.bg?config.bg:''});
    `
    class="flex flex-col flex-nowrap justify-between items-center
            h-full min-h-screen w-screen overflow-x-hidden my-0
            px-3 lg:px-10 2xl:px-64 relative z-[-1]
             text-slate-50 bg-cover bg-fixed bg-no-repeat dark:text-slate-50"
  >
    <Header />

    <main
      class="flex flex-row flex-grow justify-between items-start max-sm:flex-col bg-inherit text-inherit w-full h-full my-4 relative min-h-screen"
    >
      <div
        class="flex flex-col max-sm:order-2 justify-start items-center md:w-2/3 lg:w-3/5 w-full relative min-h-screen lg:overflow-y-auto"
      >
        <slot />
      </div>
      <aside
        class="flex flex-col max-sm:order-1 justify-start items-center md:w-1/3 lg:w-2/5 w-full md:pl-2 lg:sticky max-sm:relative lg:top-20"
      >
        <TagCloud />
        <slot name="siderbar" />
      </aside>
    </main>

    <Footer />
  </body>
</html>
