---
import Head from '@components/star/Head.astro';
import Navbar from '@components/star/Navbar.astro';
import Togglebar from '@components/star/Togglebar.astro';
import { config } from '@assets/ts/consts';
import Footer from '@components/star/Footer.astro';

type Props = {
  title: string;
  description?: string;
  keyword?: string;
  headerText?: string;
};
const { title, description = '', keyword = '' } = Astro.props;
---

<!doctype html>
<html lang='zh-CN' class='m-0 p-0 font-mono scroll-smooth'>
  <Head title={title} description={description} keyword={keyword} />

  <body class='bg-site-light/80 dark:bg-site-dark/80 text-site-dark dark:text-site-light'>
    {
      config.header_images.enable && config.header_images.src ? (
        <header>
          <div
            class='w-screen h-screen bg-cover bg-no-repeat fixed inset-y-0  -z-50'
            style={`background-image:url(${config.header_images.src})`}
          />
          <div class='w-screen h-screen bg-cover bg-no-repeat fixed inset-y-0 -z-10 bg-site-light/50 dark:bg-site-dark/70 backdrop-blur-sm backdrop-saturate-200 ' />
        </header>
      ) : (
        <header>
          <div class='w-screen h-screen bg-cover bg-no-repeat fixed inset-y-0  -z-50 dementor' />
          <div class='w-screen h-screen bg-cover bg-no-repeat fixed inset-y-0 -z-10 bg-site-light/50 dark:bg-site-dark/70 backdrop-blur-sm backdrop-saturate-200 ' />
        </header>
      )
    }
    <Navbar />
    <main id='main' class='relative container z-[2] size-full max-sm:pt-32 pt-24'>
      <div class='relative min-h-screen w-full'>
        <slot />
      </div>
      <Togglebar />
    </main>
    <Footer />
  </body>
</html>
