---
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Siderbar from "../components/Siderbar.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="zh-cn" class="flex flex-col justify-center items-center m-0 p-0">
  <head>
    <Head title={title} description={description} />
  </head>

  <body
    style="margin-right: calc(100% - 100vw)"
    class="flex flex-col flex-nowrap justify-between items-center
            h-full min-h-screen w-screen overflow-x-hidden
            px-3 lg:px-36 transition-colors m-0
            bg-gray-50 text-gray-950
            dark:text-gray-50 dark:bg-gray-950"
  >
    <Header />
    <main
      id="main"
      class="flex flex-row grow justify-between items-start max-sm:flex-col bg-inherit text-inherit w-full my-4"
    >
      <aside
        class="flex flex-col justify-center items-center w-2/5 max-sm:w-full"
      >
        <Siderbar />
      </aside>
      <div class="w-3/5 max-sm:w-full">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
